# Module policy: everything except boot-critical drivers =m
# Boot-critical drives (rootfs, NVMe, basic console) =y in base.config

CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODVERSIONS=y
CONFIG_MODULE_SRCVERSION_ALL=y
CONFIG_MODULE_SIG=y
CONFIG_MODULE_SIG_SHA512=y
CONFIG_MODULE_COMPRESS_ZSTD=y
