set default=0
set timeout=5

menuentry "Aether Linux" {
    linux   /boot/vmlinuz-6.14-aether root=/dev/sda1 ro quiet
}

menuentry "Aether Linux (verbose)" {
    linux   /boot/vmlinuz-6.14-aether root=/dev/sda1
}

menuentry "Aether Linux (single-user)" {
    linux   /boot/vmlinuz-6.14-aether root=/dev/sda1 single
}
